@font-face{
            font-family: 'Stealdream';
            src:{
            
            url('../Font/Stealdream.woff') format('woff'),
            }
}

.h {
      color: rgb(11,121,3);
      font-family: 'Stealdream';
     
}
