.projects-container {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  font-weight: bold;
}

.projects-container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #288d86;
}

.projects-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: #288d86;
}


.featured-project {
  margin-bottom: 30px;
}


.featured-project img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}


.projects-container p {
  font-size: 13px; 
  line-height: 1.5;
  color: #777; 
  font-weight: bold;
}


.projects-container ul {
  padding-left: 20px;
  font-size: 14px; 
  list-style: none;
  color: #777;
  font-weight: bold;
}


.projects-container strong {
  font-size: 20px;
  color: #3fb0a5;
  font-weight: bold;
}

.detailed-description {
  text-align: left;
  max-width: 700px; 
  font-weight: bold;
  margin: 0 auto; 
}


.thumbnail-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}


.thumbnail {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.6;
}

.thumbnail.active {
  opacity: 1;
  transform: scale(1.1);
  border: 2px solid #288d86;
}


@media (max-width: 768px) {
  .thumbnail {
      width: 60px;
      height: 45px;
  }
}
